[client]
port=3306
socket=/var/lib/mysql/mysql.sock
[mysqld_safe]
log-error=/var/lib/mysql/mysql.log
pid-file=/var/lib/mysql/mysql.pid
[mysqld]
wsrep_node_name=node3
wsrep_node_address="192.168.0.112"
wsrep_provider=/usr/lib64/galera-3/libgalera_smm.so
#wsrep_provider_options ='gcache.size=1G;socket.ssl_key=my_key;socket.ssl_cert=my_cert'
wsrep_provider_options="gcache.size=1G;gcache.page_size=1G"
#wsrep_slave_threads=16
wsrep_sst_method=rsync
#wsrep_cluster_name="galera_cluster"  #salve节点不能有此名字
wsrep_cluster_address='gcomm://192.168.0.112:4567,192.168.0.110:4567'
#wsrep_sst_auth=root:123456
port=3306
user=mysql
datadir=/var/lib/mysql
socket=/var/lib/mysql/mysql.sock
default_storage_engine=InnoDB
innodb_buffer_pool_size=1G
innodb_log_file_size=256M
innodb_autoinc_lock_mode=2
innodb_locks_unsafe_for_binlog=1
innodb_flush_log_at_trx_commit=0
innodb_doublewrite=0
innodb_file_per_table=1
binlog_format=ROW
log-bin=mysql-bin
server-id=102
relay-log=mysql-relay-bin
#read_only=1
log-slave-updates=1
#SQL 查询模式
sql_mode='ONLY_FULL_GROUP_BY,NO_AUTO_VALUE_ON_ZERO,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION,PIPES_AS_CONCAT,ANSI_QUOTES'
#设置大小写不敏感
lower_case_table_names=1
#设置字符编码
character_set_server=utf8mb4